USE [GreenScape];
GO

/* -----------------------------------------------------------
   BUSINESS-ONLY SCHEMA (run AFTER Django migrate)
     - dbo.users_customuser
     - dbo.auth_group
------------------------------------------------------------ */

/* ----------- DROP in dependency order (safe re-run) ----------- */
IF OBJECT_ID('dbo.ServiceReport', 'U') IS NOT NULL DROP TABLE dbo.ServiceReport;
IF OBJECT_ID('dbo.Schedule', 'U') IS NOT NULL DROP TABLE dbo.Schedule;
IF OBJECT_ID('dbo.Invoice', 'U') IS NOT NULL DROP TABLE dbo.Invoice;
IF OBJECT_ID('dbo.Quotes', 'U') IS NOT NULL DROP TABLE dbo.Quotes;
IF OBJECT_ID('dbo.Booking', 'U') IS NOT NULL DROP TABLE dbo.Booking;
IF OBJECT_ID('dbo.Zone', 'U') IS NOT NULL DROP TABLE dbo.Zone;
IF OBJECT_ID('dbo.Site', 'U') IS NOT NULL DROP TABLE dbo.Site;
IF OBJECT_ID('dbo.CustomerService', 'U') IS NOT NULL DROP TABLE dbo.CustomerService;

-- If you previously had the OLD ServiceImage table (ImageData varbinary), this drops it too:
IF OBJECT_ID('dbo.ServiceImage', 'U') IS NOT NULL DROP TABLE dbo.ServiceImage;

IF OBJECT_ID('dbo.Service', 'U') IS NOT NULL DROP TABLE dbo.Service;
IF OBJECT_ID('dbo.ServiceType', 'U') IS NOT NULL DROP TABLE dbo.ServiceType;
IF OBJECT_ID('dbo.Employee', 'U') IS NOT NULL DROP TABLE dbo.Employee;
IF OBJECT_ID('dbo.Customer', 'U') IS NOT NULL DROP TABLE dbo.Customer;
IF OBJECT_ID('dbo.Address', 'U') IS NOT NULL DROP TABLE dbo.Address;
GO


/* ------------------------------- Address ------------------------------- */
CREATE TABLE dbo.Address (
    AddressId   INT IDENTITY(1,1) NOT NULL CONSTRAINT PK_Address PRIMARY KEY,
    Street      NVARCHAR(120) NOT NULL,
    City        NVARCHAR(50)  NOT NULL,
    Province    NVARCHAR(10)  NOT NULL,
    PostalCode  NVARCHAR(7)   NOT NULL
);
GO


/* ------------------------------- Customer ------------------------------
   NOTE: Email removed. Email is stored only in dbo.users_customuser.email
------------------------------------------------------------------------ */
CREATE TABLE dbo.Customer (
    CustomerId   INT IDENTITY(1,1) NOT NULL CONSTRAINT PK_Customer PRIMARY KEY,
    AddressId    INT NOT NULL,
    FirstName    NVARCHAR(20) NOT NULL,
    LastName     NVARCHAR(20) NOT NULL,
    PhoneNumber  NVARCHAR(20) NOT NULL,
    UserId       BIGINT NULL,

    CONSTRAINT FK_Customer_Address
        FOREIGN KEY (AddressId) REFERENCES dbo.Address(AddressId),

    CONSTRAINT FK_Customer_User
        FOREIGN KEY (UserId) REFERENCES dbo.users_customuser(id)
        ON DELETE SET NULL
);
GO

CREATE INDEX IX_Customer_UserId ON dbo.Customer(UserId);
GO

CREATE UNIQUE INDEX UX_Customer_UserId_NotNull
ON dbo.Customer(UserId)
WHERE UserId IS NOT NULL;
GO


/* ------------------------------- Employee ------------------------------
   NOTE: EmployeeNumber is stored on dbo.users_customuser.employee_number
   so it is NOT stored here.
   RoleId references dbo.auth_group(id)
------------------------------------------------------------------------ */
CREATE TABLE dbo.Employee (
    EmployeeId    INT IDENTITY(1,1) NOT NULL CONSTRAINT PK_Employee PRIMARY KEY,
    RoleId        INT NOT NULL,
    AddressId     INT NULL,
    FirstName     NVARCHAR(20) NOT NULL,
    LastName      NVARCHAR(20) NOT NULL,
    PhoneNumber   NVARCHAR(10) NOT NULL,
    StaffStatus   NVARCHAR(20) NOT NULL,
    UserId        BIGINT NULL,

    CONSTRAINT FK_Employee_Address
        FOREIGN KEY (AddressId) REFERENCES dbo.Address(AddressId),

    CONSTRAINT FK_Employee_User
        FOREIGN KEY (UserId) REFERENCES dbo.users_customuser(id)
        ON DELETE SET NULL,

    CONSTRAINT FK_Employee_Group
        FOREIGN KEY (RoleId) REFERENCES dbo.auth_group(id)
);
GO

CREATE INDEX IX_Employee_UserId ON dbo.Employee(UserId);
GO

CREATE UNIQUE INDEX UX_Employee_UserId_NotNull
ON dbo.Employee(UserId)
WHERE UserId IS NOT NULL;
GO

-- Optional: if you truly want AddressId to be 1:1 with Employee:
-- CREATE UNIQUE INDEX UX_Employee_AddressId_NotNull ON dbo.Employee(AddressId) WHERE AddressId IS NOT NULL;
-- GO


/* ------------------------------- ServiceType ------------------------------- */
CREATE TABLE dbo.ServiceType (
    ServiceTypeId INT IDENTITY(1,1) NOT NULL CONSTRAINT PK_ServiceType PRIMARY KEY,
    TypeCode      NVARCHAR(10) NOT NULL,
    TypeName      NVARCHAR(10) NOT NULL
);
GO


/* ------------------------------- Service ------------------------------- */
CREATE TABLE dbo.Service (
    ServiceId      INT IDENTITY(1,1) NOT NULL CONSTRAINT PK_Service PRIMARY KEY,
    ServiceTypeId  INT NOT NULL,
    Title          NVARCHAR(15) NOT NULL,
    Description    NVARCHAR(50) NOT NULL,
    BasePrice      DECIMAL(10,2) NOT NULL,

    CONSTRAINT FK_Service_ServiceType
        FOREIGN KEY (ServiceTypeId) REFERENCES dbo.ServiceType(ServiceTypeId)
);
GO


/* ------------------------------- ServiceImage (NEW schema) -------------------------------
   This matches your ACTIVE Django model (bucket/storage_path/etc.)
   If you want to keep the OLD ImageData version, tell me and I’ll generate that instead.
------------------------------------------------------------------------------------------ */
CREATE TABLE dbo.ServiceImage (
    ServiceImageId INT IDENTITY(1,1) NOT NULL CONSTRAINT PK_ServiceImage PRIMARY KEY,
    ServiceId      INT NOT NULL,
    Bucket         NVARCHAR(100) NOT NULL CONSTRAINT DF_ServiceImage_Bucket DEFAULT ('service-images'),
    StoragePath    NVARCHAR(400) NOT NULL,
    ContentType    NVARCHAR(100) NOT NULL,
    FileName       NVARCHAR(100) NOT NULL,
    SizeBytes      INT NULL,
    CreatedAt      DATETIME2(3) NOT NULL CONSTRAINT DF_ServiceImage_CreatedAt DEFAULT (SYSUTCDATETIME()),
    UploadedBy     BIGINT NULL,

    CONSTRAINT FK_ServiceImage_Service
        FOREIGN KEY (ServiceId) REFERENCES dbo.Service(ServiceId)
        ON DELETE CASCADE,

    CONSTRAINT FK_ServiceImage_UploadedBy
        FOREIGN KEY (UploadedBy) REFERENCES dbo.users_customuser(id)
        ON DELETE SET NULL
);
GO

CREATE INDEX IX_ServiceImage_ServiceId ON dbo.ServiceImage(ServiceId);
GO


/* ------------------------------- CustomerService ------------------------------- */
CREATE TABLE dbo.CustomerService (
    CustomerServiceId INT IDENTITY(1,1) NOT NULL CONSTRAINT PK_CustomerService PRIMARY KEY,
    CustomerId        INT NOT NULL,
    ServiceId         INT NOT NULL,
    CreatedAt         DATETIME2(7) NOT NULL CONSTRAINT DF_CustomerService_CreatedAt DEFAULT (SYSUTCDATETIME()),
    ReqDate           DATE NOT NULL,
    RedYear           NCHAR(4) NOT NULL,
    Completed         BIT NOT NULL CONSTRAINT DF_CustomerService_Completed DEFAULT ((0)),

    CONSTRAINT FK_CustomerService_Customer
        FOREIGN KEY (CustomerId) REFERENCES dbo.Customer(CustomerId),

    CONSTRAINT FK_CustomerService_Service
        FOREIGN KEY (ServiceId) REFERENCES dbo.Service(ServiceId)
);
GO

CREATE UNIQUE INDEX UX_CustomerService_CustSvcDate
ON dbo.CustomerService(CustomerId, ServiceId, ReqDate);
GO


/* ------------------------------- Site ------------------------------- */
CREATE TABLE dbo.Site (
    SiteId         INT IDENTITY(1,1) NOT NULL CONSTRAINT PK_Site PRIMARY KEY,
    AddressId      INT NOT NULL,
    CustomerId     INT NOT NULL,
    MainLineSize   NVARCHAR(20) NOT NULL,
    DoorCode       NVARCHAR(15) NOT NULL,
    BrandOfHeads   NVARCHAR(30) NOT NULL,
    Remarks        NVARCHAR(30) NOT NULL,

    CONSTRAINT FK_Site_Address
        FOREIGN KEY (AddressId) REFERENCES dbo.Address(AddressId),

    CONSTRAINT FK_Site_Customer
        FOREIGN KEY (CustomerId) REFERENCES dbo.Customer(CustomerId)
);
GO


/* ------------------------------- Zone ------------------------------- */
CREATE TABLE dbo.Zone (
    ZoneId     INT IDENTITY(1,1) NOT NULL CONSTRAINT PK_Zone PRIMARY KEY,
    SiteId     INT NOT NULL,
    ZoneName   NVARCHAR(15) NOT NULL,
    ZoneArea   NVARCHAR(20) NOT NULL,
    ZoneType   NVARCHAR(15) NOT NULL,
    BaseRate   DECIMAL(10,2) NOT NULL,

    CONSTRAINT FK_Zone_Site
        FOREIGN KEY (SiteId) REFERENCES dbo.Site(SiteId)
);
GO


/* ------------------------------- Booking ------------------------------- */
CREATE TABLE dbo.Booking (
    BookingId         INT IDENTITY(1,1) NOT NULL CONSTRAINT PK_Booking PRIMARY KEY,
    CustomerId        INT NOT NULL,
    ServiceId         INT NOT NULL,
    SiteId            INT NOT NULL,
    AppointmentTime   DATETIME NOT NULL,
    Status            NVARCHAR(15) NOT NULL,

    CONSTRAINT FK_Booking_Customer
        FOREIGN KEY (CustomerId) REFERENCES dbo.Customer(CustomerId),

    CONSTRAINT FK_Booking_Service
        FOREIGN KEY (ServiceId) REFERENCES dbo.Service(ServiceId),

    CONSTRAINT FK_Booking_Site
        FOREIGN KEY (SiteId) REFERENCES dbo.Site(SiteId)
);
GO


/* ------------------------------- Quotes ------------------------------- */
CREATE TABLE dbo.Quotes (
    QuotesId             INT IDENTITY(1,1) NOT NULL CONSTRAINT PK_Quotes PRIMARY KEY,
    CustomerId           INT NOT NULL,
    ServiceId            INT NOT NULL,
    AdditionalServiceId  INT NOT NULL,
    ZoneId               INT NOT NULL,
    TaxAmount            DECIMAL(10,2) NOT NULL,
    TotalAmount          DECIMAL(10,2) NOT NULL,
    Currency             NVARCHAR(3) NOT NULL,
    Status               NVARCHAR(20) NOT NULL,

    CONSTRAINT FK_Quotes_Customer
        FOREIGN KEY (CustomerId) REFERENCES dbo.Customer(CustomerId),

    CONSTRAINT FK_Quotes_Service
        FOREIGN KEY (ServiceId) REFERENCES dbo.Service(ServiceId),

    CONSTRAINT FK_Quotes_Zone
        FOREIGN KEY (ZoneId) REFERENCES dbo.Zone(ZoneId)
);
GO


/* ------------------------------- Invoice ------------------------------- */
CREATE TABLE dbo.Invoice (
    InvoiceId        INT IDENTITY(1,1) NOT NULL CONSTRAINT PK_Invoice PRIMARY KEY,
    QuoteId          INT NULL,
    CustomerId       INT NULL,
    Amount           INT NULL,
    TransactionRef   INT NULL,
    IssueDate        DATETIME NULL,

    CONSTRAINT FK_Invoice_Quotes
        FOREIGN KEY (QuoteId) REFERENCES dbo.Quotes(QuotesId),

    CONSTRAINT FK_Invoice_Customer
        FOREIGN KEY (CustomerId) REFERENCES dbo.Customer(CustomerId)
);
GO


/* ------------------------------- Schedule ------------------------------- */
CREATE TABLE dbo.Schedule (
    ScheduleId        INT IDENTITY(1,1) NOT NULL CONSTRAINT PK_Schedule PRIMARY KEY,
    BookingId         INT NOT NULL,
    EmployeeId        INT NOT NULL,
    StartTime         DATETIME NOT NULL,
    EndTime           DATETIME NOT NULL,
    Status            NVARCHAR(15) NOT NULL,
    CustomerServiceId INT NOT NULL,

    CONSTRAINT FK_Schedule_Booking
        FOREIGN KEY (BookingId) REFERENCES dbo.Booking(BookingId),

    CONSTRAINT FK_Schedule_Employee
        FOREIGN KEY (EmployeeId) REFERENCES dbo.Employee(EmployeeId),

    CONSTRAINT FK_Schedule_CustomerService
        FOREIGN KEY (CustomerServiceId) REFERENCES dbo.CustomerService(CustomerServiceId)
);
GO

CREATE INDEX IX_Schedule_EmployeeId ON dbo.Schedule(EmployeeId);
CREATE INDEX IX_Schedule_CustomerServiceId ON dbo.Schedule(CustomerServiceId);
GO


/* ------------------------------- ServiceReport ------------------------------- */
CREATE TABLE dbo.ServiceReport (
    ServiceReportId INT IDENTITY(1,1) NOT NULL CONSTRAINT PK_ServiceReport PRIMARY KEY,
    BookingId       INT NOT NULL,
    EmployeeId      INT NOT NULL,
    CustomerId      INT NOT NULL,
    ReportText      NVARCHAR(100) NOT NULL,
    CreatedAt       DATETIME NOT NULL,

    CONSTRAINT FK_ServiceReport_Booking
        FOREIGN KEY (BookingId) REFERENCES dbo.Booking(BookingId),

    CONSTRAINT FK_ServiceReport_Employee
        FOREIGN KEY (EmployeeId) REFERENCES dbo.Employee(EmployeeId),

    CONSTRAINT FK_ServiceReport_Customer
        FOREIGN KEY (CustomerId) REFERENCES dbo.Customer(CustomerId)
);
GO